* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    #03001e,
    #7303c0,
    #ec38bc,
    #fdeff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: #fff;
}

form button {
  color: #060827;
  background: #fff;
  transition: all 0.3s ease;
}

form button:hover {
  background: #060827;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-li {
  flex: 1;
}

.trash-btn,
.completed-btn {
  background: #060827;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-btn {
  background-color: rgb(59, 140, 207);
}
